/* Plugin CSS */
/* Fixed Bottom */
.holder.has-bottom{
	padding-bottom:38px !important;
}
.holder.has-bottom.has-bottom-viewing{
	padding-bottom:65px !important;
}
.holder .bottom.fixed-bottom{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background:#fff;
	z-index:11;
}
.holder .bottom div{
	padding:0;
}
.holder .bottom .padded{
	padding:15px;
}
.holder .bottom div a{
	display:inline-block;
	width:100%;
	height:100%;
	padding:8px;
	text-decoration:none;
}
.places-plugin .bottom.fixed-bottom .col-xs-4 + .col-xs-4{
	border-left:1px solid rgba(20, 20, 20, 0.25);
}
.places-plugin .bottom.fixed-bottom .col-xs-4.active{
	background:rgba(0,0,0,0.15);
}
.holder .bottom > .hidden-content{
	background:#fff;
}
.holder .places-plugin .bottom,
.holder .fixed-bottom.bottom{
	bottom:-270px;
}
.holder .places-plugin .bottom.active,
.holder .fixed-bottom.bottom.active{
	bottom:0;
}
.holder .bottom .hidden-content .tabs .tab a,
.notification-plugin .tabs .tab a{
	display:block;
	padding-top:10px;
	color:#5f5f5f;
}
.holder .bottom .hidden-content .tabs .tab + .tab,
.notification-plugin .tabs .tab + .tab{
	border-left:1px solid #e5e5e5;
}
.notification-plugin .tabs .tab.active a{
	color:#09a3ee;
}
.holder .bottom .hidden-content .tabs .tab.active:after,
.notification-plugin .tabs .tab.active:after{
	content:'';
	display:block;
	width:100%;
	height:2px;
	background:#09a3ee;
	position:absolute;
	bottom:-1px;
	left:0;
}
.holder .bottom .hidden-content .tab-content .tab{
	display:none;
	height:229px;
	overflow-y:auto !important;
	-webkit-overflow-scrolling:touch !important;
}
.notification-plugin .tabs .tab a{
	padding:14px 8px 10px;
	display:block;
}
.notification-plugin .tab-content .tab{
	display:none;
}
.holder .bottom .hidden-content .tab-content .tab.active,
.notification-plugin .tab-content .tab.active{
	display:block;
}
.holder .bottom .hidden-content .tab-content a,
.notification-plugin .tab-content a{
	height:auto;
}
.holder .bottom .hidden-content .tab-content a.list-item.active{
	background:#09a3ee;
	color:#fff;
}
.holder .bottom .hidden-content .toggle-btns{
	border:1px solid #09a3ee;
}
.holder .bottom .hidden-content .toggle-btns a{
	padding:6px 8px 4px;
	font-size:12px;
	vertical-align:top;
}
.holder .bottom .hidden-content .toggle-btns a.active{
	color:#fff;
}
.holder .bottom .extra-links a{
	position:absolute;
	top:-45px;
	left:10px;
	border-radius:100%;
	font-size:21px;
	padding:7px;
	text-align:center;
	height:35px;
	width:35px;
	color:#fff;
	z-index:13;
	opacity:0.8;
}
.holder .bottom .extra-links a.view-type{
	top:-95px;
	
	top:-45px;
	left:inherit;
	right:10px;
	padding-top:6px;
	font-size:22px;
}
.holder .bottom .viewing-label{
	position:absolute;
	top:-28px;
	padding:3px;
}

.holder .plugin-banner{
	position:relative;
	border-bottom:none !important;
}
.holder .info-bar,
.holder .info-circle{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:10px 0;
	opacity:0.85;
	z-index:9;
}
.holder .info-bar{
	background:rgba(0,0,0,0.8);
}
.holder .info-circle{
	bottom:inherit;
	top:28px;
	left:50%;
	margin-left:-75px;
	width:150px;
	height:150px;
	text-align:center;
	border-radius:100%;
	background:#efefef;
}
.holder .info-circle.bg-white{
	background:rgba(255, 255, 255, 0.8);	
}
.holder .info-circle .info-circle-inner{
	margin-top:33px;
}
.holder .info-circle .info-circle-inner h1{
	font-size:50px;
	line-height:54px;
}
.holder .info-circle.small{
	width:110px;
	height:110px;
	margin-left:-55px;
}
.holder .info-circle.small .info-circle-inner{
	margin-top:11px;
}
.holder .info-bar p{
	max-width:100%;
}
.holder .info-bar .right-icon{
	margin-top:7px;
}
.holder .info-bar .pull-right .padded-icon{
	padding:5px;
	display:inline-block;
	width:30px;
	height:30px;
}
.holder .info-bar .pull-right span.icon{
	font-size:24px;
	vertical-align:middle;
}
.holder .info-bar .pull-right span.icon.icon-sm{
	font-size:14px;
	position:relative;
	top:-2px;
}
.holder .info-bar .pull-right.padded-icon span.icon{
	font-size:18px;
	vertical-align:middle;
}

/* Link Items */
.link-list{
	padding-top:2px;
}
.link-list a + a{
	margin-left:10px;
}

/* List Items */
.list-items .list-item{
	position:relative;
}
.list-items .list-item:before,
.layout3 .list-layout .list-item:after{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	width:100%;
	position:absolute;
}
.layout3 .list-layout .list-item:after{
	border-top:none !important;
	top:inherit;
	bottom:0;
	border-bottom:1px solid #ddd !important;
}
.list-items .list-item + .list-item{
	padding-top:10px;
	margin-top:10px;
}
.list-items .list-item .media{
	width:100px;
}
.list-items .list-item .content{
	padding-left:110px;
	width:100%;
}

/* List Layout Grids */
.list-layout .list-item{
	padding-left:15px;
	padding-right:8px;
}
.list-layout .list-item + .list-item{
	padding-left:8px;
	padding-right:15px;
}
.list-layout .list-item-media{
	position:relative;
	left:0;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.now-playing:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background:#09a3ee;
}
.list-layout .list-item-media.edit{
	left:-60px;
}
.list-layout .list-item-media .remove-btn{
	position:absolute;
	top:0;
	right:-120px;
	padding:25px 0;
	width:100px;
	height:100%;
	color:#fff;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
}
.list-layout .list-item-media.edit .remove-btn{
	right:-60px;
}
.list-layout .list-item-media.edit .btns{
	right:58px;
}
.list-layout .list-item-media .list-media-holder{
	margin:0 auto;
	max-width:240px;
}
.layout4 .list-layout .list-item-media .list-media-holder{
	max-width:200px;
}
.list-layout .list-item-copy{
	padding:10px 0;
	min-height:70px;
}
.list-layout .list-item-copy p.summary{
	font-size:13px;
}
.list-layout span.list-item-date{
	font-size:11px;
	font-style:italic;
	display:block;
	margin:-4px 0 -4px;
}
.layout3 .list-layout{
	position:relative;
}
.layout3 .list-layout:before{
	content:'';
	border-top:1px solid #ddd !important;
	opacity:0.25;
	top:0;
	left:0;
	position:absolute;
	width:100%;
}
.layout3 .list-layout .list-item-media{
	background:none;
}
.layout3 .list-layout .list-item-media .list-media-holder{
	width:110px;
	height:60px;
	line-height:58px;
	margin:inherit;
	margin-right:10px;
	background:#efefef;
	border-radius:4px;
	margin:5px 10px 5px 5px;
	text-align:center;
}
.media-center-plugin.layout3 .list-layout .list-item-media .list-media-holder{
	background:none;
}
html[browser="Firefox"] .layout3 .list-layout .list-item-media .list-media-holder{
	line-height:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder.square-icon{
	width:60px;
}
.layout3 .list-layout .list-item-media .list-media-holder img{
	max-width:100%;
	max-height:100%;
	vertical-align:middle;
	border-radius:2px;
}
.layout3 .list-layout .list-item-media .list-media-holder .main-icon{
	font-size:44px;
	position:relative;
	top:8px;
}
.layout3 .list-layout .list-item{
	padding:0;
	min-height:71px;
	position:relative;
}
.layout3 .list-layout .list-item-copy{
	padding:6px 10px 5px;
}

/* eCommerce */
.shopping-cart .list-layout .list-item-media .list-media-holder.square-icon{
	height:70px;
	width:70px;
	line-height:68px;
}
.shopping-cart .list-layout .list-item-copy p + p{
	font-size:13px;
	margin:7px 0px !important;
}
.shopping-cart .list-layout .list-item-copy a{
	font-size:13px;
	position:relative;
	top:1px;
}
.shopping-cart .bottom div{
	padding:6px 10px !important;
}
.shopping-cart .bottom div p{
	font-size:13px;
	line-height:16px;
}
.shopping-cart .bottom div a{
	padding:5px 8px;
	max-width:140px;
}
.ecommerce-plugin .list-layout.has-cart .list-item,
.list-layout.has-btns .list-item{
	position:relative;
}
.ecommerce-plugin .list-layout.has-cart .list-item-copy,
.list-layout.has-btns .list-item-copy{
	padding-right:88px !important;
}
.list-layout.has-cart .add-to-cart,
.list-layout.has-btns .btns{
	position:absolute;
	top:50%;
	margin-top:-16px;
	right:18px;
}
.list-layout.has-btns .btns{
	margin-top:-18px;
}
.holder .list-layout .add-to-cart,
.list-layout.has-btns .btns{
	padding:5px;
	display:inline-block;
	width:32px;
	height:32px;
}
.holder .media-layout .add-to-cart{
	padding:4px;
	width:30px;
	height:30px;
}
.holder .list-layout .add-to-cart .icon,
.holder .media-layout .add-to-cart .icon{
	font-size:18px;
	vertical-align:middle;
}
.list-layout.has-btns .btns .icon{
	font-size:24px;
	color:#fff;
}

/* Media Layout */
.media-layout .media-item:nth-child(odd){
	padding-left:15px !important;
	padding-right:7.5px !important;
}
.media-layout .media-item:nth-child(even){
	padding-left:7.5px !important;
	padding-right:15px !important;
}
.media-layout .media-item{
	margin-bottom:15px;
}
.media-layout .media-item .media-holder{
	background:#eef0f0;
	position:relative;
	border-radius:3px 3px 0 0;
	overflow:hidden;
}
.media-layout .media-item .media-copy{
	border-radius:0 0 3px 3px;
	padding:6px 10px;
}
.media-layout .media-item .media-holder .media-img-holder{
	max-width:450px;
	margin:0 auto;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(odd){
	padding-left:10px !important;
	padding-right:5px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(even){
	padding-left:5px !important;
	padding-right:10px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item{
	margin-bottom:10px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .media-holder .media-img-holder{
	max-width:200px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .info-bar{
	padding:6px 0;
}

.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(odd){
	padding-left:10px !important;
	padding-right:5px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item:nth-child(even){
	padding-left:5px !important;
	padding-right:10px !important;
}
.ecommerce-plugin.layout1 .media-layout .media-item{
	margin-bottom:10px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .media-holder .media-img-holder{
	max-width:200px;
}
.ecommerce-plugin.layout1 .media-layout .media-item .info-bar{
	padding:6px 0;
}

@media(max-width: 767px){
	.ecommerce-plugin.layout3 .media-layout .media-item .media-holder{
		border-radius:0px !important;
	}
	.ecommerce-plugin.layout3 .media-layout .media-item:nth-child(odd),
	.ecommerce-plugin.layout3 .media-layout .media-item:nth-child(even){
		padding:0 !important;
	}
	.ecommerce-plugin.layout3 .media-layout .media-item{
		margin-bottom:0;
	}	
}
/* End Plugin CSS */


/*
* Set height of body to auto for enabling scroll
*/

.body-scroll{
    height: auto !important;
}

.sticky-bottom-menu {
    position: absolute;
    width: 100% ;
    height: 100%;
    overflow-y: auto;
}

.bottom-zero{
    bottom: 0px !important;
}

.holder .bottom .extra-links a.grid-layout{
	left:inherit;
	right:10px;
}
.holder.has-bottom.has-layout-bottom{
	padding-bottom:35px !important;
}
.bottom.bottom-checkout{
	background:none !important;
}
.bottom.bottom-checkout p{
	font-size:12px;
	line-height:19px;
}
.bottom.bottom-checkout a.btn{
	padding:4px;
	position:relative;
	top:3px;
}

.media-layout .media-item .media-copy div{
	box-shadow:0 0 0 1px #ccc inset;
}
.backgroundColorTheme{
	box-shadow:0 0 0 1px #ccc inset;
}