<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">
<div class="holder padding-zero has-bottom">
	<div class="ecommerce-plugin">
		<div class="padded">
			<div class="item clearfix row">
				<div class="labels col-xs-3 padding-right-zero pull-left margin-top-five">
					<span>Quantity</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<input type="text" class="form-control" placeholder="25">
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 padding-right-zero pull-left margin-top-five">
					<span>Variable 1</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<div class="dropdown" dropdown>
						<button class="btn btn-default text-left dropdown-toggle" data-toggle="dropdown" dropdown-toggle aria-expanded="true">
							<span class="pull-left">Color</span>
					  		<span class="chevron icon-chevron-down pull-right"></span>
						</button>					
						<ul class="dropdown-menu extended" role="menu">
							<li><a tabindex="-1">Color 1</a></li>
							<li><a tabindex="-1">Color 2</a></li>
							<li><a tabindex="-1">Color 3</a></li>
	                    </ul>
					</div>
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 padding-right-zero pull-left margin-top-five">
					<span>Variable 2</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<div class="dropdown" dropdown>
						<button class="btn btn-default text-left dropdown-toggle" data-toggle="dropdown" dropdown-toggle aria-expanded="true">
							<span class="pull-left">Size</span>
					  		<span class="chevron icon-chevron-down pull-right"></span>
						</button>					
						<ul class="dropdown-menu extended" role="menu">
							<li><a tabindex="-1">Size 1</a></li>
							<li><a tabindex="-1">Size 2</a></li>
							<li><a tabindex="-1">Size 3</a></li>
	                    </ul>
					</div>
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 padding-right-zero pull-left margin-top-five">
					<span>Variable 3</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<input type="text" class="form-control" placeholder="Etc">
				</div>
			</div>
			<hr class="none">
			<div class="item clearfix row">
				<div class="labels col-xs-3 padding-right-zero pull-left margin-top-five">
					<span>Variable 4</span>
				</div>
				<div class="main col-xs-9 pull-right">
					<input type="text" class="form-control" placeholder="Etc">
				</div>
			</div>
		</div>
		<div class="bottom fixed-bottom border-top-grey clearfix">
			<div class="col-xs-6 pull-left text-center">
				<a class="text-primary default-background-hover transition-third">Cancel</a>
			</div>
			<div class="col-xs-6 pull-right text-center border-left-grey">
				<a class="text-primary default-background-hover transition-third">Update Item</a>
			</div>
		</div>
	</div>
</div>
</html>