<div class="holder padding-zero has-bottom has-layout-bottom sticky-bottom-menu clearfix">
    <div class="ecommerce-plugin layout1 infinite-scroll-parent scrollable" ng-if="WidgetItems.data">
    <div class="margin-top-ten">
      <div class="media-layout" ng-if="WidgetItems.items">
        <div infinite-scroll="WidgetItems.loadMore()" infinite-scroll-distance="1" data-infinite-container=".infinite-scroll-parent" infinite-scroll-disabled="WidgetItems.busy">
          <div class="media-item col-xs-6 padding-zero " ng-repeat="item in WidgetItems.items">
            <div class="media-holder">
              <div class="media-img-holder" style="min-height: 148px;">
                <img ng-hide="item.images[0].src"
                     src="../../../styles/media/holder-1x1.png" ng-click="WidgetItems.showItem(item.handle)">
                <img ng-show="item.images[0].src" load-image="1x1" crop-width="400" crop-height="400" crop-type="crop"
                     data-final-src="{{item.images[0].src}}" ng-click="WidgetItems.showItem(item.handle)">
              </div>
              <div class="info-bar bg-primary padding-left-ten text-left padding-right-ten">
                <div class="col-xs-8 padding-zero pull-left">
                  <p class="ellipsis margin-bottom-zero margin-top-five whiteTheme">
                      <span class="whiteTheme" ng-bind-html="WidgetItems.convertHtml(WidgetItems.data.settings.currency.symbol||'$')"></span>&nbsp;{{item.variants[0].price}}
                  </p>
                </div>
                <div class="col-xs-4 padding-zero pull-right">
                  <div class="add-to-cart default-background border-radius-three pull-right text-center">
                    <a class="icon icon-cart-plus" ng-click="WidgetItems.addToCart(item.handle)"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="media-copy default-background backgroundColorTheme">
              <p class="ellipsis text-primary margin-zero">
				<a href="javascript:void(0);" ng-click="WidgetItems.showItem(item.handle)">{{item.title}}</a>
			  </p>
            </div>
          </div>
          <div class="no-event-found padded" ng-if="WidgetItems.noItemFound ">
            <div class="well text-center">No items found.</div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="bottom fixed-bottom border-top-grey clearfix bottom-zero">
	  <div>
    	<div class="extra-links">
	      <a ng-click="WidgetItems.changeItemView('itemLayoutList')" class="list-layout bg-primary" style="opacity: 1 !important;">
	        <span class="icon icon-list whiteTheme"></span>
	      </a>
		  <a ng-click="WidgetItems.changeItemView('itemLayoutGrid')" class="grid-layout bg-primary" style="opacity: 1 !important;">
	        <span class="icon icon-border-all1 whiteTheme"></span>
	      </a>
	    </div>
	  </div>
	<div class="col-xs-12 pull-left text-center">
	  <a class="whiteTheme bg-primary transition-third" href="javascript:void(0);"
       ng-click="WidgetItems.goToCart()">Go to Cart</a>
	</div>
  </div>
</div>
