<div class="holder padding-zero has-bottom sticky-bottom-menu "
     ng-controller="WidgetSingleCtrl as WidgetSingle">
  <div class="ecommerce-plugin scrollable" ng-if="WidgetSingle.data">
    <div class="media-center-banner plugin-banner clearfix border-bottom-grey">
      <div ng-style="WidgetSingle.item.images.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"  id="carousel2" ng-if="WidgetSingle.item.images.length"
           build-fire-carousel2=""></div>
      <div class="plugin-slider has-info-bar-double text-center"
           ng-if="!WidgetSingle.item.images.length">
        <div class="plugin-slide">
          <img src="../../../styles/media/holder-16x9.png">
        </div>
      </div>
      <div ng-show="WidgetSingle.item" class="info-bar padding-top-five padding-bottom-five bg-primary">
        <div class="col-xs-10 pull-left">
          <p class="margin-zero whiteTheme">{{WidgetSingle.item.title}}</p>

          <p class="margin-zero whiteTheme"><span class="whiteTheme"
              ng-bind-html="WidgetSingle.safeHtml(WidgetSingle.data.settings.currency.symbol ||'$')"></span>&nbsp;
            {{WidgetSingle.item.variants[0].price}}</p>
        </div>
        <div class="col-xs-2 pull-right right-icon"
             ng-click="WidgetSingle.addToCart(WidgetSingle.item.handle)">
          <a class="padded-icon pull-right border-radius-three text-center"
             style="background:#fff;">
            <span class="icon icon-cart-plus"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="padded">
      <p data-ng-if="WidgetSingle.item.body_html"
         custom-bind-html=""
         data-html="WidgetSingle.item.body_html"
         data-on-click="WidgetSingle.test(href)"></p>
    </div>
  </div>
  <div class="bottom fixed-bottom border-top-grey clearfix bottom-zero">
    <div class="col-xs-12 pull-left text-center">
      <a class="whiteTheme bg-primary transition-third" href="javascript:void(0);"
         ng-click="WidgetSingle.goToCart()">Go to Cart</a>
    </div>
  </div>
</div>
