<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">

<div class="holder padding-zero">
	<div class="ecommerce-plugin layout3">
		<div class="">
			<div class="list-layout has-cart">
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder square-icon pull-left">
							<img src="http://www.placehold.it/100x100">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-bottom-zero margin-top-five text-primary"><a class="text-primary">This is the Item Title This is the Item Title</a></p>
							<p class="margin-bottom-zero">$46,543.50</p>
						</div>
						<div class="add-to-cart bg-primary border-radius-three text-center">
							<a class="icon icon-cart-plus" style="color:#fff;"></a>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder square-icon pull-left">
							<img src="http://www.placehold.it/100x100">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-bottom-zero margin-top-five text-primary"><a class="text-primary">This is the Item Title This is the Item Title</a></p>
							<p class="margin-bottom-zero">$46,543.50</p>
						</div>
						<div class="add-to-cart bg-primary border-radius-three text-center">
							<a class="icon icon-cart-plus" style="color:#fff;"></a>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-bottom-zero margin-top-five text-primary"><a class="text-primary">This is the Item Title This is the Item Title</a></p>
							<p class="margin-bottom-five">$46,543.50</p>
						</div>
						<div class="add-to-cart bg-primary border-radius-three text-center">
							<a class="icon icon-cart-plus" style="color:#fff;"></a>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder square-icon pull-left">
							<img src="http://www.placehold.it/100x100">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-bottom-zero margin-top-five text-primary"><a class="text-primary">This is the Item Title This is the Item Title</a></p>
							<p class="margin-bottom-zero">$46,543.50</p>
						</div>
						<div class="add-to-cart bg-primary border-radius-three text-center">
							<a class="icon icon-cart-plus" style="color:#fff;"></a>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder square-icon pull-left">
							<img src="http://www.placehold.it/100x100">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-bottom-zero margin-top-five text-primary"><a class="text-primary">This is the Item Title This is the Item Title</a></p>
							<p class="margin-bottom-zero">$46,543.50</p>
						</div>
						<div class="add-to-cart bg-primary border-radius-three text-center">
							<a class="icon icon-cart-plus" style="color:#fff;"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>