<div class="holder padding-zero has-bottom has-layout-bottom sticky-bottom-menu clearfix">
  <div class="ecommerce-plugin layout3 scrollable infinite-scroll-parent" ng-if="WidgetItems.data">
    <div class="">
      <div class="list-layout has-cart" ng-if="WidgetItems.items">
        <div infinite-scroll="WidgetItems.loadMore()" infinite-scroll-distance="1" data-infinite-container=".infinite-scroll-parent" infinite-scroll-disabled="WidgetItems.busy">
          <div class="list-item" ng-repeat="item in WidgetItems.items">
            <div class="list-item-media text-left overflow-hidden">
              <div class="list-media-holder square-icon pull-left">
                <img ng-hide="item.images[0].src"
                     src="../../../styles/media/holder-1x1.png" ng-click="WidgetItems.showItem(item.handle)">
                <img ng-show="item.images[0].src" load-image="1x1" crop-width="60" crop-height="60" crop-type="crop"
                     data-final-src="{{item.images[0].src}}" ng-click="WidgetItems.showItem(item.handle)">
              </div>
              <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                <p class="ellipsis margin-bottom-zero margin-top-five text-primary">
                  <a class="text-primary" href="javascript:void(0);" ng-click="WidgetItems.showItem(item.handle)">{{item.title}}</a>
			    </p>
                <p class="margin-bottom-zero">
				 <span ng-bind-html="WidgetItems.convertHtml(WidgetItems.data.settings.currency.symbol||'$')"></span>&nbsp; {{item.variants[0].price}}
			    </p>
              </div>
              <div class="add-to-cart bg-primary border-radius-three text-center">
                <a class="icon icon-cart-plus whiteTheme" style="color:#fff;" ng-click="WidgetItems.addToCart(item.handle)"></a>
              </div>
            </div>
          </div>
          <div class="no-event-found padded" ng-if="WidgetItems.noItemFound">
            <div class="well text-center">No items found.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom fixed-bottom border-top-grey clearfix bottom-zero">
	<div>
        <div class="extra-links">
            <a ng-click="WidgetItems.changeItemView('itemLayoutList')" class="list-layout bg-primary" style="opacity: 1 !important;">
                <span class="icon icon-list whiteTheme"></span>
            </a>
			<a ng-click="WidgetItems.changeItemView('itemLayoutGrid')" class="grid-layout bg-primary" style="opacity: 1 !important;">
                <span class="icon icon-border-all1 whiteTheme"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-12 pull-left text-center">
      <a class="whiteTheme bg-primary transition-third" href="javascript:void(0);"
         ng-click="WidgetItems.goToCart()">Go to Cart</a>
    </div>
  </div>
</div>