<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">

<div class="holder padding-zero">
	<div class="ecommerce-plugin layout1">
		<div class="margin-top-ten">
			<div class="media-layout">
				<div class="media-item col-xs-6 padding-zero">
					<div class="media-holder">
						<div class="media-img-holder">
							<img src="http://www.placehold.it/400x400">
						</div>
						<div class="info-bar bg-primary padding-left-ten text-left padding-right-ten">
							<div class="col-xs-8 padding-zero pull-left">
								<p class="ellipsis margin-bottom-zero margin-top-five">$499.00</p>
							</div>
							<div class="col-xs-4 padding-zero pull-right">
								<div class="add-to-cart default-background border-radius-three pull-right text-center">
									<a class="icon icon-cart-plus"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="media-copy default-background">
						<p class="ellipsis text-primary margin-zero">6 Golf Lessons</p>
					</div>
				</div>
				<div class="media-item col-xs-6 padding-zero">
					<div class="media-holder">
						<div class="media-img-holder">
							<img src="http://www.placehold.it/400x400">
						</div>
						<div class="info-bar bg-primary padding-left-ten text-left padding-right-ten">
							<div class="col-xs-8 padding-zero pull-left">
								<p class="ellipsis margin-bottom-zero margin-top-five">$99.00</p>
							</div>
							<div class="col-xs-4 padding-zero pull-right">
								<div class="add-to-cart default-background border-radius-three pull-right text-center">
									<a class="icon icon-cart-plus"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="media-copy default-background">
						<p class="ellipsis text-primary margin-zero">Titleist Golf Balls XP Pro Touring Edition</p>
					</div>
				</div>
				<div class="media-item col-xs-6 padding-zero">
					<div class="media-holder">
						<div class="media-img-holder">
							<img src="http://www.placehold.it/400x400">
						</div>
						<div class="info-bar bg-primary padding-left-ten text-left padding-right-ten">
							<div class="col-xs-8 padding-zero pull-left">
								<p class="ellipsis margin-bottom-zero margin-top-five">$199.00</p>
							</div>
							<div class="col-xs-4 padding-zero pull-right">
								<div class="add-to-cart default-background border-radius-three pull-right text-center">
									<a class="icon icon-cart-plus"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="media-copy default-background">
						<p class="text-primary margin-zero">Soldius Golf Bag</p>
					</div>
				</div>
				<div class="media-item col-xs-6 padding-zero">
					<div class="media-holder">
						<div class="media-img-holder">
							<img src="http://www.placehold.it/400x400">
						</div>
						<div class="info-bar bg-primary padding-left-ten text-left padding-right-ten">
							<div class="col-xs-8 padding-zero pull-left">
								<p class="ellipsis margin-bottom-zero margin-top-five">$99.00</p>
							</div>
							<div class="col-xs-4 padding-zero pull-right">
								<div class="add-to-cart default-background border-radius-three pull-right text-center">
									<a class="icon icon-cart-plus"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="media-copy default-background">
						<p class="ellipsis text-primary margin-zero">Titleist Golf Balls XP Pro Touring Edition</p>
					</div>
				</div>
				<div class="media-item col-xs-6 padding-zero">
					<div class="media-holder">
						<div class="media-img-holder">
							<img src="http://www.placehold.it/400x400">
						</div>
						<div class="info-bar bg-primary padding-left-ten text-left padding-right-ten">
							<div class="col-xs-8 padding-zero pull-left">
								<p class="ellipsis margin-bottom-zero margin-top-five">$199.00</p>
							</div>
							<div class="col-xs-4 padding-zero pull-right">
								<div class="add-to-cart default-background border-radius-three pull-right text-center">
									<a class="icon icon-cart-plus"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="media-copy default-background">
						<p class="text-primary margin-zero">Soldius Golf Bag</p>
					</div>
				</div>
				<div class="media-item col-xs-6 padding-zero">
					<div class="media-holder">
						<div class="media-img-holder">
							<img src="http://www.placehold.it/400x400">
						</div>
						<div class="info-bar bg-primary padding-left-ten text-left padding-right-ten">
							<div class="col-xs-8 padding-zero pull-left">
								<p class="ellipsis margin-bottom-zero margin-top-five">$99.00</p>
							</div>
							<div class="col-xs-4 padding-zero pull-right">
								<div class="add-to-cart default-background border-radius-three pull-right text-center">
									<a class="icon icon-cart-plus"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="media-copy default-background">
						<p class="ellipsis text-primary margin-zero">Titleist Golf Balls XP Pro Touring Edition</p>
					</div>
				</div>
				<div class="media-item col-xs-6 padding-zero">
					<div class="media-holder">
						<div class="media-img-holder">
							<img src="http://www.placehold.it/400x400">
						</div>
						<div class="info-bar bg-primary padding-left-ten text-left padding-right-ten">
							<div class="col-xs-8 padding-zero pull-left">
								<p class="ellipsis margin-bottom-zero margin-top-five">$199.00</p>
							</div>
							<div class="col-xs-4 padding-zero pull-right">
								<div class="add-to-cart default-background border-radius-three pull-right text-center">
									<a class="icon icon-cart-plus"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="media-copy default-background">
						<p class="text-primary margin-zero">Soldius Golf Bag</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>