<div class="holder padding-zero">
  <div class="ecommerce-plugin layout3">
    <div class="media-center-banner plugin-banner clearfix border-bottom-grey">
      <div class="plugin-slider text-center">
        <div class="plugin-slide">
          <img src="http://www.placehold.it/1280x720.jpg">
        </div>
      </div>
    </div>
    <div class="padded padding-bottom-zero">
      <p ng-bind-html='WidgetHome.safeHtml(WidgetHome.data.content.description)'
         ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)"></p>
    </div>
    <div class="">
      <div class="media-layout">
        <div class="media-item col-sm-6 padding-zero" ng-repeat="section in WidgetHome.sections">
          <div class="media-holder border-radius-three overflow-hidden">
            <div class="media-img-holder">
              <img src="http://www.placehold.it/640x380">
            </div>
            <div
                class="info-bar bg-primary padding-left-ten text-center padding-right-ten">
              <p class="ellipsis margin-zero">{{section.title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
