<div class="holder padding-zero">
  <div class="ecommerce-plugin layout3">
    <div class="media-center-banner plugin-banner clearfix" ng-if="WidgetHome.data">
      <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length"
           build-fire-carousel=""></div>
      <div class="plugin-slider text-center"
           ng-if="!WidgetHome.data.content.carouselImages.length">
        <div class="plugin-slide">
          <img src="assets/images/16x9.png">
        </div>
      </div>
    </div>
    <div class="padded padding-bottom-zero" ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)">
      <p ng-bind-html='WidgetHome.safeHtml(WidgetHome.data.content.description)'></p>
    </div>
    <div ng-if="WidgetHome.data">
      <div class="list-layout" infinite-scroll="WidgetHome.loadMore()"
           infinite-scroll-distance="1"
           data-infinite-container=".infinite-scroll-parent"
           infinite-scroll-disabled="WidgetHome.busy">
        <div class="list-item" ng-repeat="section in WidgetHome.sections">
          <div class="list-item-media text-left overflow-hidden">
            <div class="list-media-holder square-icon pull-left">
              <img ng-if="!section.image.src" src="assets/images/1x1.png" ng-click="WidgetHome.showItems(section.handle)">
              <img ng-src="{{section.image.src}}" ng-if="section.image.src" ng-click="WidgetHome.showItems(section.handle)">
            </div>
            <div
                class="list-item-copy text-left padding-left-ten padding-right-ten">
              <p
                  class="ellipsis margin-zero text-primary margin-top-fifteen">
                <a class="text-primary" href="javascript:void(0);"
                   ng-click="WidgetHome.showItems(section.handle)">{{section
                  .title}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
