<div class="holder padding-zero has-bottom clearfix sticky-bottom-menu"
     ng-controller="WidgetCartCtrl as WidgetCart">
  <div class="ecommerce-plugin scrollable shopping-cart has-bottom layout3">
    <div class="">
      <div class="list-layout">
        <div class="list-item" ng-repeat="item in cart.items">
          <div class="list-item-media text-left overflow-hidden">
            <div class="list-media-holder square-icon pull-left">
              <img ng-hide="item.image" src="../../../styles/media/holder-1x1.png">
              <img ng-show="item.image"
                   load-image="1x1" crop-width="70" crop-height="70"
                   crop-type="crop"
                   data-final-src="{{item.image}}">
            </div>
            <div
                class="list-item-copy text-left padding-left-ten padding-right-ten">
              <p class="ellipsis margin-zero">{{item.product_title}}</p>

              <p class="ellipsis margin-zero">Qty:
                {{item.quantity}}<span ng-if="item.variant_title">, </span>
                {{item.variant_title}}</p>
              <a class="text-primary" ng-click="WidgetCart.updateCart(item)">Edit
                Item</a>
              <a class="text-danger margin-left-fifteen"
                 href="javascript:void(0);"
                 ng-click="WidgetCart.removeItemFromCart(item)">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="no-event-found padded" ng-if="!cart.items.length">
      <div class="well text-center">Empty Cart.</div>
    </div>
  </div>
  <div class="bottom fixed-bottom bottom-checkout clearfix bottom-zero"
       style="z-index: 1006">
    <div class="col-xs-4 pull-left text-center">
      <p class="margin-zero">Total Products</p>

      <p class="margin-zero">{{cart.item_count || 0}}</p>
    </div>
    <div class="col-xs-4 pull-left text-center">
      <p class="margin-zero">Total Amounts</p>

      <p class="margin-zero">
        <span
            ng-bind-html="WidgetCart.safeHtml(WidgetCart.data.settings.currency.symbol ||'$')"></span>
        &nbsp;{{cart.total_price || 0 | moneyWithoutTrailingZeros}}
      </p>
    </div>
    <div class="col-xs-4 pull-left text-center padding-right-five">
      <a class="btn btn-primary" href="javascript:void(0);"
         ng-click="WidgetCart.checkoutCart()">Continue</a>
    </div>
  </div>
</div>