<!DOCTYPE html>
<html lang="en" ng-app="buildfire" >
<head>

    <!-- CSS -->
    <link rel="stylesheet" href="../../../../styles/bootstrap.css">
    <link rel="stylesheet" href="../../../../styles/siteIcons.css">
    <link rel="stylesheet" href="../../../../styles/appStyle.css">
    <link rel="stylesheet" href="../../../../styles/helper.css">

<div class="holder padding-zero">
	<div class="ecommerce-plugin shopping-cart has-bottom layout3">
		<div class="">
			<div class="list-layout">
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder square-icon pull-left">
							<img src="http://www.placehold.it/100x100">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-zero">This is the Item Title This is the Item Title</p>
							<p class="ellipsis margin-zero">Qty: 25, Black, Hybrid</p>
							<a class="text-primary">Edit Item</a>
							<a class="text-danger margin-left-fifteen">Delete</a>						
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder square-icon pull-left">
							<img src="http://www.placehold.it/100x100">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-zero">This is the Item Title This is the Item Title</p>
							<p class="ellipsis margin-zero">Qty: 25, Black, Hybrid</p>
							<a class="text-primary">Edit Item</a>
							<a class="text-danger margin-left-fifteen">Delete</a>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-zero">This is the Item Title This is the Item Title</p>
							<p class="ellipsis margin-zero">Qty: 25, Black, Hybrid</p>
							<a class="text-primary">Edit Item</a>
							<a class="text-danger margin-left-fifteen">Delete</a>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder square-icon pull-left">
							<img src="http://www.placehold.it/100x100">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-zero">This is the Item Title This is the Item Title</p>
							<p class="ellipsis margin-zero">Qty: 25, Black, Hybrid</p>
							<a class="text-primary">Edit Item</a>
							<a class="text-danger margin-left-fifteen">Delete</a>
						</div>
					</div>
				</div>
				<div class="list-item">
					<div class="list-item-media text-left overflow-hidden">
						<div class="list-media-holder square-icon pull-left">
							<img src="http://www.placehold.it/100x100">
						</div>
						<div class="list-item-copy text-left padding-left-ten padding-right-ten">
							<p class="ellipsis margin-zero">This is the Item Title This is the Item Title</p>
							<p class="ellipsis margin-zero">Qty: 25, Black, Hybrid</p>
							<a class="text-primary">Edit Item</a>
							<a class="text-danger margin-left-fifteen">Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom fixed-bottom border-top-grey clearfix">
			<div class="col-xs-4 pull-left text-center">
				<p class="margin-zero">Total Products</p>
				<p class="margin-zero">165</p>
			</div>
			<div class="col-xs-4 pull-left text-center">
				<p class="margin-zero">Total Amounts</p>
				<p class="margin-zero">$16,398.49</p>
			</div>
			<div class="col-xs-4 pull-left text-center">
				<a class="btn btn-primary">Continue</a>
			</div>
		</div>
	</div>
</div>
</html>